* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Work Sans', sans-serif;
}

.container {
    width: 1150px;
    margin: 0 auto;
}

/* nav styles */
.header {
    background: rgba(255, 144, 14, 0.1);
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 1100px;
    height: 60px;
    margin: 0 auto;
    padding: 0 25px;
}

nav>ul {
    font-size: 18px;
    font-weight: 500;
    color: #424242;
    display: flex;
    list-style: none;
    gap: 25px;
}

/* banner section  */
.banner-info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.banner-title {
    font-weight: 700;
    font-size: 50px;
    text-align: center;
    margin-top: 115px;
}

.banner-description {
    font-weight: 400;
    font-size: 16px;
    line-height: 25px;
    text-align: center;
    margin: 32px 300px;
    color: #727272;
}

.primary-button {
    font-weight: 600;
    font-size: 20px;
    text-align: center;
    border: 0;
    padding: 20px 24px;
    width: 180px;
    height: 64px;
    color: #FFFFFF;
    background: #FF900E;
    border-radius: 5px;
    align-items: center;

}

.banner-img {
    display: flex;
    align-items: center;
    justify-content: center;
}

.banner-img img {
    width: 1110px;
    height: 550px;
    border-radius: 8px;
    margin-top: 50px;
    margin-bottom: 70px;
}

/* Features styles */
.container-info {
    padding-top: 50px;
    padding-left: 60px;
    display: flex;
    justify-content: space-between;
}

.container-img {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.container-img img {
    width: 300px;
    height: 300px;
    border-radius: 8px;
}

.container-sub-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 60px;
    margin-right: 200px;
}

.span-1 {
    font-weight: 500;
    font-size: 45px;
    color: #727272;
}

.span-3 {
    font-weight: 700;
    font-size: 45px;
    color: #FF900E;
}

p {
    margin-top: 25px;
    margin-bottom: 32px;
    line-height: 25px;
}

/* features you will love and enjoy section's styles */
.container1 {
    padding: 130px 150px;
}

.love-enjoy {
    display: flex;
    justify-content: space-between;
    gap: 40px;
    margin: 90px 0px;
}

.love-enjoy-info {
    width: 586px;
}

.sub-info-detail {
    height: 161px;
    padding: 30px 30px 0px 30px;
    background: #FFFFFF;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.06);
    border-radius: 8px;
}

.love-enjoy-img {
    border-radius: 8px;
    width: 700px;
    display: flex;
    justify-content: flex-end;
}

.love-enjoy-img img {
    width: 90%;
}

.love-enjoy-info h2 {
    font-size: 45px;
    font-weight: 700;
    border-left: 5px solid #FF900E;
    padding-left: 10px;
}

.fr-love-enjoy-sub-info {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.button {
    background: #FF900E;
    padding: 27px;
    font-weight: 500;
    font-size: 25px;
    color: #FFFFFF;
    border-radius: 5px;
    border: none;
    width: 342px;
    height: 200px;
    line-height: 25px;
    margin-top: -88px;
}

.btn-txt {
    font-weight: 700;
    font-size: 65px;
}

/* facts section styles */
.facts-info {
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.fact-heading p {
    width: 542px;
    height: 52px;
}

.fact-heading h2 {
    font-weight: 700;
    font-size: 45px;
    color: #131313;
}

.fact p {
    font-weight: 400;
    font-size: 16px;
    color: #727272;
    margin: 0px;
}

.facts-list {
    display: flex;
    justify-content: space-evenly;
    gap: 80px;
}

.fact:hover{
    background-color: #FF900E;
}

.fact {
    width: 150px;
    height: 150px;
    border: 1px solid #FF900E;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.fact img {
    width: 45px;
    height: 45px;
}

/* sponsers section  */

.sponsers {
    text-align: center;
}

.sponsers h2 {
    font-weight: 700;
    font-size: 45px;
    color: #131313;
    margin-top: 170px;
}

.sponsers p {
    font-weight: 400;
    font-size: 16px;
    text-align: center;
    width: 500px;
    margin: 0 auto;
    color: #727272;
    margin-top: 24px;
    margin-bottom: 55px;
}

.sponsers-list {
    display: flex;
    justify-content: space-evenly;
}


/* Extra section styles */
.extra {
    text-align: center;
}

.about-us {
    font-weight: 700;
    font-size: 45px;
    color: #131313;
    margin-top: 170px;
}

/* footer section styles */
.footer {
    text-align: center;
    align-items: center;
    margin-top: 130px;
    background: #FFF4E7;
}

.footer-text {
    padding: 30px 0;
    font-weight: 400;
    font-size: 20px;
    color: #424242;
}


/*/////// responsives styles ////////*/

@media screen and (max-width:876px) {

    nav,
    .banner,
    .container {
        flex-direction: column;
        gap: 20px;
        padding: 20px 25px;
    }

    nav ul {
        flex-direction: column;
        gap: 20px;
        align-items: flex-start;
        padding-left: 25px;
    }

    nav li {
        margin-left: 0;
    }

    .header {
        background-image: none;
    }

    .banner-img, .love-enjoy {
        flex-direction: column;
        justify-content: center;
    }
    .banner-img img {
        width: 300px;
        height: 200px;
    }
    .container-info {
        padding-top: 50px;
        padding-left: 0px;
        flex-direction: column;
    }
    .container-img {
        grid-template-columns: repeat(1, 1fr);
        gap: 20px;}

.container-sub-info {
  
    flex-direction: column;
    justify-content: center;
    margin: 200px 0px;
    width: 200px;
    height:150px;
}
 
.love-enjoy-info h2{
    font-size: 30px;
}
.fr-love-enjoy-sub-info {
    flex-direction: column;
    gap: 70px;
    width: 324px;
    font-size: 10px;}

    .love-enjoy-img {
        width: 300px;
    }
    .button{
       display: none;
    }
    .facts-list  {
        gap: 40px;
        flex-direction: column;
        margin-top: 300px;
    }
    .sponsers h2 {
        font-size: 35px;
       text-align: left;
        margin-top: 80px}
        
        .sponsers p {
            font-weight: 15px;
            height: 150px;
            width: 300px;
            text-align: left;
            margin-left: 10px;
        }
    .facts-list, .sponsers-list {
        width: 100px;
        height: 100px;
        gap: 40px;
        flex-direction: column;
        margin-bottom: 150px;
    }
    .extra {
        text-align: left;
        height: 150px;
        width: 300px;
        margin-bottom: 200px;
        /* display: none */
    }
        .footer {
          width: 345px;
          height: 30px;
        }
        .footer-text {
            text-align: center;
            font-size: 8px;
            padding: 0px;
        }
}